:root{
    --planet-card-bg-clr: black;
    --planet-card-info-bg-clr: white;

    --planet-card-block-spacing: 1cqh;
    --planet-card-inline-spacing: 2cqw;

    --planet-card-border-radius: 8cqw;

    --planet-card-trans-duration: 0.1s;
    --planet-card-trans-motion: ease-in-out;
}

.planet-card{
    background-color: transparent;
    aspect-ratio: 1/0.9;
    container: planet-card-container / size;
    overflow: hidden;

    &:hover{
        .planet-figure{
            .planet-image-container{
                height: 100cqh;
                border-radius: var(--planet-card-border-radius)
            }

            .planet-info{
                width: 90cqw;
                height: 40cqh;
                border-radius: var(--planet-card-border-radius);
                transform: translateY(-45cqh);

                .planet-name{
                    font-size: 7cqw;
                    color: var(--heading-clr);
                }

                .planet-distance{
                    font-size: 6cqw;
                    color: var(--heading-clr);
                }
            }
        }
    }
    
    .planet-figure{
        border-radius: var(--planet-card-border-radius);
        overflow: hidden;
        
        .planet-image-container{
            background-color: var(--planet-card-bg-clr);
            width: 100cqw;
            height: 75cqh;

            transition: all 
                var(--planet-card-trans-duration) 
                var(--planet-card-trans-motion);
            
            .planet-image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: var(--planet-card-border-radius);
            }
        }
        
        .planet-info{
            background-color: var(--planet-card-info-bg-clr);;
            width: 100cqw;
            height: 25cqh;
            display: flex;
            flex-direction: column;
            padding-block: var(--planet-card-block-spacing);
            padding-inline: var(--planet-card-inline-spacing);
            row-gap: var(--planet-card-block-spacing);
            justify-content: center;
            align-items: center;
            margin-inline: auto;
            transition: all 
                var(--planet-card-trans-duration) 
                var(--planet-card-trans-motion);

            .planet-name{
                font-size: 4.5cqw;
                color: var(--heading-clr);
            }

            .planet-distance{
                display: flex;
                align-items: center;
                font-size: 3.5cqw;
                color: var(--heading-clr);
            }

        }

    }

}